.main_container {
  width: 100%;
  height: 100vh;
}
header {
  height: 70px;
  background-color: rgb(8, 53, 8);
}
header h1 {
  color: #fff;
  font-size: 48px;
  text-align: center;
}
.wrraper {
  padding: 0 10px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.main_Card {
  padding: 10px;
}
.imge {
}
.imge img {
  max-width: 100%;
  width: 359px;
  height: 300px;
}
