.main_container {
  height: 70px;
  width: 100%;
  background-color: rgb(13, 51, 2);
}
.main_container h1 {
  color: #fff;
  font-size: 48px;
}
.wrraper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.imm {

}
.main_Card {
  border: 1px solid red;
}
.imge {
}
.imge img {
  width: 300px;
  height: 200px;
}
